[alias]
  amend = commit -a --amend
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  cm = !git add -A && git commit -m
  co = checkout
  cob = checkout -b
  ec = config --global -e
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  mb = "!f() { cb=$(current_branch); git checkout ${1-master} && git co $cb && git merge ${1-master} }; f"
  save = !git add -A && git commit -m 'save'
  undo = reset HEAD~1 --mixed
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  wip = !git add -u && git commit -m "WIP"
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = Dimas Cyriaco
  email = dimascyriaco@icloud.com
[core]
  editor = nvim
  autocrlf = input
  pager = delta
[init]
  defaultBranch = main
[merge]
  conflictStyle = diff3
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  theme = zenburn
  line-numbers = true
[diff]
  colorMoved = default
