.DS_Store
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
fish/.config/fish/functions/
karabiner/.config/karabiner/automatic_backups/
lvim/.config/lvim/plugin/packer_compiled.lua
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/
nvim/.config/nvim/plugin/packer_compiled.vim
tmux/.config/tmux/plugins
zsh/.config/zsh/_deno
zsh/.config/zsh/secrets.sh

nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/session

.luarc.json
todo.md


nvim/.config/nvim/sessions
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/plugins.zsh
zsh/.zsh_plugins.txt

helix/.config/helix/runtime