layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab focus=true split_direction="Vertical" {
        pane focus=true split_direction="Vertical" {
            pane command="zsh" {
                args "-c" "cd ~/src/motrix/api/ && exec zsh"
            }
            pane command="zsh" {
                args "-c" "cd ~/src/motrix/api/ && pueue && exec zsh"
            }
        }
    }
    tab split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane command="zsh" {
                args "-c" "cd ~/src/motrix/curriculums// && exec zsh"
            }
            pane command="zsh" {
                args "-c" "cd ~/src/motrix/curriculums/ && pueue && exec zsh"
            }
        }
    }
}
session_name "Motrix"
attach_to_session true